.rows:nth-child(odd){background:#fff;}
.rows:nth-child(even){background:#ddd;}
#table {margin: 50px auto; border: 1px solid lightgrey;  border-collapse: collapse;}
#filter>td>input{ width: 100%; text-align: center;}
td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
.csv-link, .delete-link, .update-link, .ban-link{
  background-color:  #F64139;
  font-size: 14;
  font-weight: 500;
  padding: 0px 48px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}
