input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

button:hover {
    opacity: 0.8;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 70%;
}

.help {
    padding: 5px;
    width: 100px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}